<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue app 1</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="assets/app.css">
</head>
<body>
<div class="vue-game">
    <div class="vue-game__top">
        <div class="vue-game__section vue-game__section_you">
            <h2>You</h2>
            <div class="vue-game__health-wrap">
                <div class="vue-game__health-overlay vue-game__health-overlay_you">{{ yourHealth}}%</div>
            </div>
        </div>
        <div class="vue-game__section vue-game__section_monster">
            <h2>Monster</h2>
            <div class="vue-game__health-wrap">
                <div class="vue-game__health-overlay vue-game__health-overlay_monster" :style="{width: this.monsterHealth}">{{monsterHealth}}%</div>
            </div>
        </div>
    </div>

    <div class="vue-game__middle">
        <button class="vue-game__btn vue-game__btn_start" v-if="visibleStart" @click="showBtns">Start</button>
            <div class="vue-game__btns-wrap" v-if="visibleBtns">
                <button class="vue-game__btn vue-game__btn_attack" @click="atack" >Attack</button>
                <button class="vue-game__btn vue-game__btn_spat" @click="specialAtack">Special attack</button>
                <button class="vue-game__btn vue-game__btn_heal" @click="heal">Heal</button>
                <button class="vue-game__btn vue-game__btn_giveup"  @click="giveUp">Give up</button>
            </div>
    </div>
    <div class="vue-game__bottom">
        <ul class="vue-game__logs" >
            <li v-for="item in damageLog">You hit monster {{ item }}</li>
            <li v-for="item in damageLog2">Monster hit you {{ item }}</li>

        </ul>
    </div>
</div>

<script src="assets/app.js"></script>

</body>
</html>

<!--v-once = for single render. this tag renders only once at start and cannot be overwritten-->
<!--v-bind = binds property of tag witdh Vue data-->
<!--v-html = renders '<img src="#">'(for example) as html, but not the string-->
<!--v-on:click = listens to the click event and executes a function when event is triggered-->
<!--$event - the default name of event object-->
<!--v-on:mousemove.stop - stops the propagation of event-->
<!--v-on:mousemove.prevent - prevents the default behavior-->
<!--v-on:keyup.enter.space - key modyfiers that listens to ENTER or SPACE btns-->
<!--v-model="var" - creates a reactivity when data at input(for exmpl) and data in <p> is binded. And when you change input, <p> is changing automaticly-->