* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.vue-game {
    width: 1000px;
    padding: 20px;
    margin: 0 auto;
}
.vue-game__top {
    margin-bottom: 30px;
    overflow: hidden;
    padding: 40px 20px;
}
.vue-game__section {
    width: 45%;
    text-align: center;
}
.vue-game__section_you {
    float: left;
}
.vue-game__section_monster {
    float: right;
}
.vue-game__health-wrap {
    height: 30px;
    background: lightgray;
    position: relative;
}
.vue-game__health-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #41B883;
    height: inherit;
    transition: .5s linear;
}
.vue-game__middle {
    text-align: center;
    padding: 40px 0;
}
.vue-game__btns-wrap {
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.vue-game__btn {
    margin: 0 10px;
    padding: 10px 20px;
    /*background: lightcoral;*/
    outline: none;
    border: none;
    cursor: pointer;
}
.vue-game__btn_attack {background: burlywood;}
.vue-game__btn_spat {background: lightgreen;}
.vue-game__btn_heal {background: lightskyblue}
.vue-game__btn_giveup {background: lightcoral;}

.vue-game__bottom {
    height: 200px;
    overflow: auto;
}
.vue-game__logs {
    list-style: none;
    text-align: center;
}
.vue-game__logs li {
    background: lightblue;
    padding: 3px 0;
}
.vue-game__logs li:nth-last-of-type(even) {
    background: lightcoral;
}
